/* .form-control{
width: 400px;
} */
/* .search input {
width: 450px;
height: 40px;
border-radius: 5px;
outline: none;
padding-left: 15px;
background: #fff;
border: 2px solid  linear-gradient(to bottom, #cc99ff 0%, #cc00cc 105%);
color:  linear-gradient(to bottom, #cc99ff 0%, #cc00cc 105%);
}

.search input::placeholder{
color: linear-gradient(to top right, #cc99ff 0%, #ff0066 105%);;
opacity: 1; 
}

.search button {
width: 65px;
height: 40px;
border: none;
border-radius: 2px;
color: whitesmoke;
background: linear-gradient(to top right, #000066 0%, #ff0066 105%);
transition-property: all;
transition-duration: 0.5s;
padding: 3px;
}

.search button i {
transition-property: all;
transition-duration: 0.5s;
}

.search button:hover i {
transform: scale(1.1);
transition-property: all;
transition-duration: 0.5s;
} */

nav{
    background: linear-gradient(to top right, #a305f2 0%, #e7b1ed 105%);
}

.navbarLink{
    margin-top: 20px;
    margin-left: 790px;
    list-style: none;
}
/* logo */
.logo{
margin-left: 15px;
color: black;
font-family: 'Norican';
font-size: 50px;
font-weight: bold;
}   

.logo:hover{
    text-decoration: none;
    color: white;
    transition-duration: 0.8s;
}
