<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>Document</title>
</head>
<body>
    <!-- <%- include('./../partials/header') -%> -->
    
    <div class="container">
        <h3 class="mb-4">Top Selling Products</h3>
        <div class="card-deck">
          <div class="card text-center">
            <img class="card-img-top" src="/public/images/shoes.jpg" alt="Card image">
            <a href="#">
              <h5 class="name">Bags</h5>
            </a>
          </div>
    
    
          <div class="card text-center">
            <img class="card-img-top" src="/public/images/bpshirt.jpg" alt="Card image">
            <div class="card-body">
              <a href="#">
                <h5 class="name">T-Shirts</h5>
              </a>
            </div>
            </a>
          </div>
    
    
          <div class="card text-center">
            <img class="card-img-top" src="/public/images/cap.jpg" alt="Card image">
            <div class="card-body">
              <a href="#">
                <h5 class="name">Caps</h5>
              </a>
            </div>
            </a>
          </div>
    
          <div class="card text-center">
            <img class="card-img-top" src="/public/images/shoes.jpg" alt="Card image">
            <div class="card-body">
              <a href="#">
                <h5 class="name">Shoes</h5>
              </a>
            </div>
            </a>
          </div>
    
    
          <div class="card text-center">
            <img class="card-img-top" src="/public/images/jacket.jpg" alt="Card image">
            <div class="card-body">
              <a href="#">
                <h5 class="name">Jackets</h5>
              </a>
            </div>
            </a>
          </div>
    
    
          <div class="card text-center">
            <img class="card-img-top" src="/public/images/lightstick.png" alt="Card image">
            <div class="card-body">
              <a href="#">
                <h5 class="name">Lightsticks</h5>
              </a>
            </div>
            </a>
          </div>
        </div>
</body>
</html>