<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/blackpink.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackPink</title>
</head>
<body>
    <%- include('./../partials/header') -%>

    <section class="products-section">
        <div class="product-card">
        <img src="/public/images/blinkshirt.png"/>
        <div class="product-card-content">
          <span class="product-category">ICE CREAM</span>
          <div class="product-name">Berry Blast</div>
          <p class="product-description">Beat the summer heat with our special Berry Blast popsicles.
      Mix of blueberries, raspberries.</p>
        </div>
        <div class="product-card-footer">
          <div class="product-reviews-wrapper">
            <div class="product-rating">
              <span>4.9</span>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
        </div>
      </div>
          <div class="product-card">
        <img src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"/>
        <div class="product-card-content">
          <span class="product-category">ICE CREAM</span>
          <div class="product-name">Berry Blast</div>
          <p class="product-description">Beat the summer heat with our special Berry Blast popsicles.
      Mix of blueberries, raspberries.</p>
        </div>
        <div class="product-card-footer">
          <div class="product-reviews-wrapper">
            <div class="product-rating">
              <span>4.9</span>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
        </div>
      </div>
          <div class="product-card">
        <img src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"/>
        <div class="product-card-content">
          <span class="product-category">ICE CREAM</span>
          <div class="product-name">Berry Blast</div>
          <p class="product-description">Beat the summer heat with our special Berry Blast popsicles.
      Mix of blueberries, raspberries.</p>
        </div>
        <div class="product-card-footer">
          <div class="product-reviews-wrapper">
            <div class="product-rating">
              <span>4.9</span>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
        </div>
      </div>
          <div class="product-card">
        <img src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"/>
        <div class="product-card-content">
          <span class="product-category">ICE CREAM</span>
          <div class="product-name">Berry Blast</div>
          <p class="product-description">Beat the summer heat with our special Berry Blast popsicles.
      Mix of blueberries, raspberries.</p>
        </div>
        <div class="product-card-footer">
          <div class="product-reviews-wrapper">
            <div class="product-rating">
              <span>4.9</span>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
        </div>
      </div>
        
        
        
        
        
        
          <div class="product-card">
        <img src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"/>
        <div class="product-card-content">
          <span class="product-category">ICE CREAM</span>
          <div class="product-name">Berry Blast</div>
          <p class="product-description">Beat the summer heat with our special Berry Blast popsicles.
      Mix of blueberries, raspberries.</p>
        </div>
        <div class="product-card-footer">
          <div class="product-reviews-wrapper">
            <div class="product-rating">
              <span>4.9</span>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
        </div>
      </div>
          <div class="product-card">
        <img src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"/>
        <div class="product-card-content">
          <span class="product-category">ICE CREAM</span>
          <div class="product-name">Berry Blast</div>
          <p class="product-description">Beat the summer heat with our special Berry Blast popsicles.
      Mix of blueberries, raspberries.</p>
        </div>
        <div class="product-card-footer">
          <div class="product-reviews-wrapper">
            <div class="product-rating">
              <span>4.9</span>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
        </div>
      </div>
          <div class="product-card">
        <img src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"/>
        <div class="product-card-content">
          <span class="product-category">ICE CREAM</span>
          <div class="product-name">Berry Blast</div>
          <p class="product-description">Beat the summer heat with our special Berry Blast popsicles.
      Mix of blueberries, raspberries.</p>
        </div>
        <div class="product-card-footer">
          <div class="product-reviews-wrapper">
            <div class="product-rating">
              <span>4.9</span>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
        </div>
      </div>
          <div class="product-card">
        <img src="https://images.unsplash.com/photo-1488900128323-21503983a07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80"/>
        <div class="product-card-content">
          <span class="product-category">ICE CREAM</span>
          <div class="product-name">Berry Blast</div>
          <p class="product-description">Beat the summer heat with our special Berry Blast popsicles.
      Mix of blueberries, raspberries.</p>
        </div>
        <div class="product-card-footer">
          <div class="product-reviews-wrapper">
            <div class="product-rating">
              <span>4.9</span>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
        </div>
      </div>
      </section>

      <%- include('./../partials/header') -%>
    
</body>
</html>