<link rel="stylesheet" href="/public/css/categories.css">
<link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet'>
<title>Blackpink</title>


<%- include('./../partials/header') -%>

<!-- <div class="container">
  <h3 class="my-4">Blackpink Merch</h3>
  <div class="row align-items-center">
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpshirt.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Ice Cream T-Shirt</span>
                  </div>
                  <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱400</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
          <div class="product-review">115 reviews</div>
        </div>
        <div class="button-wrapper">
          <button>Add to cart</button>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpjacket.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Love Sick Girls Hoodie</span>
                  </div>
                  <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱500</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
          <div class="product-review">115 reviews</div>
        </div>
        <div class="button-wrapper">
          <button>Add to cart</button>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpnecklace.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">The Album Necklace</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱600</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
          <div class="product-review">115 reviews</div>
        </div>
        <div class="button-wrapper">
          <button>Add to cart</button>
        </div>
      </div>
    </div>
  </div>
<br><br><br>
  <div class="row align-items-center">
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bplight.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Blackpink Official Lightstick</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱800</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
          <div class="product-review">115 reviews</div>
        </div>
        <div class="button-wrapper">
          <button>Add to cart</button>
        </div>
      </div>
    </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱3000</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
          <div class="product-review">115 reviews</div>
        </div>
        <div class="button-wrapper">
          <button>Add to cart</button>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpnotebook.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">HYLT Notebook</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱250</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
            <div class="product-review">115 reviews</div>
          </div>
          <div class="button-wrapper">
               <button>Add to cart</button>
          </div>
          <div class="product-review">115 reviews</div>
        </div>
      </div>  
      </div>
      </div> -->
<div class="container">
  <h3 class="my-4">Blackpink Merch</h3>
  <div class="row align-items-center">
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpshirt.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Ice Cream T-Shirt</span>
                  </div>
                  <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱500</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpjacket.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Love Sick Girls Hoodie</span>
                  </div>
                  <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱699</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpnecklace.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">The Album Necklace</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱999</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
            <!-- <div class="product-review">115 reviews</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="row align-items-center">
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bplight.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Blackpink Official Lightstick</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱800</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpalbum.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Ice Cream Digital Single</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱2999</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/bpnotebook.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">HYLT Notebook</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱299</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
            <!-- <div class="product-review">115 reviews</div> -->
          </div>
          <!-- <div class="button-wrapper">
            <button>Add to cart</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>
<%- include('./../partials/footer') -%>