<link rel="stylesheet" href="/public/css/categories.css">
<link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet'>
<title>BTS</title>


<%- include('./../partials/header') -%>

<div class="container">
  <h3 class="my-4">BTS Merch</h3>
  <div class="row align-items-center">
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/btsshirt.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Unisex BTS T-shirt</span>
                  </div>
                  <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱500</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/btslight.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Army Bomb</span>
                  </div>
                  <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱699</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/btsbag.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">BTS Backpack</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱999</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br><br>
  <div class="row align-items-center">
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/btsshoes.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">BTS Sneakers Canvas</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱800</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/btstumbler.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">BTS Tumbler</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱299</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/btspillow.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">BTS Pillow</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱399</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include('./../partials/footer') -%>