<link rel="stylesheet" href="/public/css/categories.css">
<link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet'>
<title>Red Velvet</title>


<%- include('./../partials/header') -%>

<div class="container">
  <h3 class="my-4">Red Velvet Merch</h3>
  <div class="row align-items-center">
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/redalbum.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Red Velvet Mini Album</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱1999</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/redbag.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Red Velvet Backpack</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱599</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/redbonet.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Red Velvet Beanie Hat</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱399</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br><br>
  <div class="row align-items-center">
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/redhoodie.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Red Velvet Hoodie</span>
                  </div>
                  <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱499</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/redlight.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Red Velvet Official Lightstick</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">$2400</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="container page-wrapper">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="/public/images/redwrist.PNG" alt="">
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">Red Velvet Wristband</span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="#">
                  <span class="price">₱299</span>
                  <span class="add-to-cart">
                    <span class="txt">Add to cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<br><br>
<%- include('./../partials/footer') -%>